<div class="dashboard-container">
  <div class="sidebar">
    <div class="logo">
      <img src="ruta/a/tu/icono.png" alt="Logo">
    </div>
    <nav>
      <ul>
        <li>
          <a routerLink="/inicio">Inicio</a>
        </li>
        <li>
          <a routerLink="/app-dashboard-anime">Personajes</a>
        </li>
      </ul>
    </nav>
    <div class="version">
      <p>Versión 1.0</p>
    </div>
  </div>
  
  <div class="main-content">
    <router-outlet></router-outlet>
  </div>
</div>